@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
color: #899CA0 - grijs
color: #1C2B32 - donkergroen
////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Poppins', Calibri, Verdana, sans-serif;
    font-weight: 400;
    color: #1C2B32;
}

body p {
    font-size: 16px;
    margin: 22px 0;
}

main h1, h2, h3 {
    text-align: center;
    margin: 50px;
}

h1 {
    font-size: 108px;
    font-weight: 700;
}

input, button {
    font-family: inherit;
    font-size: 14px;
}

a:link {
    color: #899CA0;
}

/* visited link */
a:visited {
    color: #899CA0;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #899CA0;
    text-decoration: none;
}

/*////////////////////////
    3. Areas
////////////////////////*/
.header-section {
    padding: 140px 0 460px 0;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.footer-section {
    margin: 50px;
}

/*///////////// 3.1 Header /////////////*/
header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
}

.domain-form {
    display: inline-block;
    margin-top: 32px;
    text-align: center;
    max-width: 900px;
}

.domain-field {
    border: 2px solid #1C2B32;
    color: #1C2B32;
    background: transparent;
    padding: 16px 100px 16px 32px;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}

.domain-availability {
    color: white;
    border: 2px solid #1C2B32;
    background-color: #1C2B32;
    padding: 16px 32px 16px 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    margin-left: -8px;
}

.domain-field::placeholder {
    color: #1C2B32;
}
/*///////////// 3.2 Testimonial /////////////*/


/*///////////// 3.3 Support /////////////*/
.call-center-img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 16px;
}

.contact-button {
    color: white;
    border: 2px solid #1C2B32;
    background-color: #1C2B32;
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
}

/*///////////// 3.4 Faq /////////////*/
.faq-section {
    margin-bottom: 50px;
}

.faq-summary-section {
    margin: 22px;
    cursor: pointer;
}

.faq-details {
    margin-left: 22px;
    padding: 18px 24px;
    color: white;
    background-color: #899CA0;
    border-radius: 12px;
}

/*///////////// 3.5 Footer /////////////*/
.footer-section {
    background-color: #1C2B32;
    margin: 0;
}

.footer-copyright {
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 24px;
    margin-bottom: -6px;
}